.signin-form {
    margin: 0;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-floating {
    position: relative;
    margin-bottom: 0;
}

.form-floating .form-control#floatingPassword {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-floating .form-control#floatingInput {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}